<div class="container comp-container">
    <h2>Available Artists</h2>
  
    <div class="row-container">
    <div class="row" id="available">
        <div class="col"><h5>Joey La Puma</h5></div>
        <div class="col"><h5>Mike Dowdell</h5></div>
        <div class="col"><h5>Victoria Kravec</h5></div>
        <div class="col"><h5>Jenn Santoro</h5></div>
    </div>
    <br />
    
    <h2>Moderately Available Artists</h2>
  
    <div class="row-container">
    <div class="row" id="moderate">
        <div class="col"><h5>Chris Irvin</h5></div>
        <div class="col"><h5>Maddie Sutton</h5></div>
        <div class="col"><h5>Joey La Puma</h5></div>
    </div>
    <br />

    <h2>Books Closed</h2>
    <div class="row-container">
        <div class="row" id="available">
            <div class="col"><h5>Andrew Bissell</h5></div>
            <div class="col"><h5>Jake Ross</h5></div>
            <div class="col"><h5>Zak Perry</h5></div>
        </div>
        <br />


</div>