<div class="container comp-container">
    <h2>View By Artist</h2>
  
    <div class="row" id="available">
        <mat-tab-group>
            <mat-tab label="Andrew Bissell"> Content 1 </mat-tab>
            <mat-tab label="Jake Ross"> Content 2 </mat-tab>
            <mat-tab label="Chris Irvin"> Content 3 </mat-tab>
            <br />
            <mat-tab label="Zak Perry">Content 4</mat-tab>
            <mat-tab label="Maddie Sutton">Content 5</mat-tab>
            <mat-tab label="Joey La Puma">Content 6</mat-tab>
            <br />
            <mat-tab label="Mike Dowdell">Content 7</mat-tab>
            <mat-tab label="Victoria Kravec">Content 8</mat-tab>
            <mat-tab label="Jenn Santoro">Content 9</mat-tab>
        </mat-tab-group>
    </div>
    <br />
    <br />

</div>