.row-one{
    width:33%;
}

.row-two{
    width:33%;
}

.row-three{
    width:33%;
}

::ng-deep .mat-tab-label{
    color:#ffffff !important;
    font-size:15px;
}

.single-profile-container{
    padding:30px 0px 30px 0px;
}

.artist-info{
    padding-top:30px;
}

.profile-pic img{
    width:80%;
    border-radius:30px;
    max-height:400px;
}

.btn-back{
    color:#ffffff;
    background-color:#AC832C;
    border: 1px solid #AC832C;
    margin:5px;
    font-size:20px;
    padding:10px;
}

.btn-back a:hover {
    color:#fff;
}

.btn{
    background-color:#AC832C;
    color:#fff;
}

h2{
    font-size:35px;
}

h5{
    font-size:20px;
}

h4{
    font-size:28px;
}
