<div class="container comp-container">
    <h2>Available Artists</h2>
  
    <div class="row" id="available">
        <mat-tab-group>
           
            <mat-tab label="Mike Dowdell"> 
             
                <div class="single-profile-container">
                    <div class="profile-pic"><img class="profile-img" src="/assets/mike-hero-img-1024x730.png"/></div>
                 
                    <div class="artist-info">
                        <h4>Artist:</h4> 
                        <h5>Mike Dowdell</h5>
                        <br />

                        <h4>Availablity Status:</h4>
                        <h5 class="availability available">Available</h5>
                      <br />

                       <h4>Dates Available:</h4>
                        <h5>October 2020</h5>
                        <br />
                        <h4>Profile Link:</h4>
                        <a href="https://7inkstattooco.com/mike-dowdell"><h5>Book Online</h5></a>
                      <br />


                       <h4>Get Notifications From Mike:</h4>
                     <app-email-notifications></app-email-notifications>                                      
                    
                    </div>
                   
                </div>
                
                
            </mat-tab>

            <mat-tab label="Victoria Kravec"> 
             
                <div class="single-profile-container">
                    <div class="profile-pic"><img class="profile-img" src="/assets/victoria-1024x911.jpg"/></div>
                 
                    <div class="artist-info">
                        <h4>Artist:</h4> 
                        <h5>Victoria Kravec</h5>
                        <br />

                        <h4>Availablity Status:</h4>
                        <h5 class="availability available">Available</h5>
                      <br />

                       <h4>Dates Available:</h4>
                        <h5>October 2020</h5>
                        <br />
                        <h4>Profile Link:</h4>
                        <a href="https://7inkstattooco.com/victoria-kravec"><h5>Book Online</h5></a>
                      <br />


                       <h4>Get Notifications From Victoria:</h4>
                       <app-email-notifications></app-email-notifications>                                      
                    
                    
                    </div>
                    
                </div>
                
                
            </mat-tab>

            <mat-tab label="Jenn Santoro"> 
             
                <div class="single-profile-container">
                    <div class="profile-pic"><img class="profile-img" src="/assets/MadGJv4g-682x1024.jpg"/></div>
                 
                    <div class="artist-info">
                        <h4>Artist:</h4> 
                        <h5>Jenn Santoro</h5>
                        <br />

                        <h4>Availablity Status:</h4>
                        <h5 class="availability available">Available</h5>
                      <br />

                       <h4>Dates Available:</h4>
                        <h5>October 2020</h5>
                        <br />
                        <h4>Profile Link:</h4>
                        <a href="https://7inkstattooco.com/jenn-santoro"><h5>Book Online</h5></a>
                      <br />


                       <h4>Get Notifications From Jenn:</h4>
                       <app-email-notifications></app-email-notifications>                                      
                    
                    
                    </div>
                    
                </div>
                
                
            </mat-tab>
           
          
        </mat-tab-group>
    </div>
    <br />
    <br />

    <h2>Busy Artists</h2>
    <div class="row" id="available">
        <mat-tab-group>
            <mat-tab label="Joey La Puma"> 
             
                <div class="single-profile-container">
                    <div class="profile-pic"><img class="profile-img" src="/assets/joey.jpg"/></div>
                 
                    <div class="artist-info">
                        <h4>Artist:</h4> 
                        <h5>Joey La Puma</h5>
                        <br />

                        <h4>Availablity Status:</h4>
                        <h5 class="availability busy">Busy</h5>
                      <br />

                       <h4>Dates Available:</h4>
                        <h5>November 2020</h5>
                        <br />
                        <h4>Profile Link:</h4>
                        <a href="https://7inkstattooco.com/joey-la-puma"><h5>Book Online</h5></a>
                      <br />


                       <h4>Get Notifications From Joey:</h4>
                       <app-email-notifications></app-email-notifications>                                      
                    
                    
                    </div>
                    
                </div>
                
                
            </mat-tab>

            <mat-tab label="Chris Irvin"> 
             
                <div class="single-profile-container">
                    <div class="profile-pic"><img class="profile-img" src="/assets/cj.jpg"/></div>
                 
                    <div class="artist-info">
                        <h4>Artist:</h4> 
                        <h5>Chris Irvin</h5>
                        <br />

                        <h4>Availablity Status:</h4>
                        <h5 class="availability busy">Busy</h5>
                      <br />

                       <h4>Dates Available:</h4>
                        <h5>October 2020</h5>
                        <br />
                        <h4>Profile Link:</h4>
                        <a href="https://7inkstattooco.com/chris-irvin"><h5>Book Online</h5></a>
                      <br />


                       <h4>Get Notifications From Chris:</h4>
                       <app-email-notifications></app-email-notifications>                                      
                    
                    
                    </div>
                    
                </div>
                
                
            </mat-tab>

           

          
        </mat-tab-group>
    </div>

    <br />
    <br /> 


    <h2>Books Are Closed</h2>
    <div class="row" id="available">
        <mat-tab-group>
           
            <mat-tab label="Andrew Bissell"> 
             
                <div class="single-profile-container">
                    <div class="profile-pic"><img class="profile-img" src="/assets/ab.jpg"/></div>
                 
                    <div class="artist-info">
                        <h4>Artist:</h4> 
                        <h5>Andrew Bissell</h5>
                        <br />

                        <h4>Availablity Status:</h4>
                        <h5 class="availability closed">Books Closed</h5>
                      <br />

                       <h4>Dates Available:</h4>
                        <h5>2021</h5>
                        <br />
                        <h4>Profile Link:</h4>
                        <a href="https://7inkstattooco.com/andrew-bissell"><h5>Book Online</h5></a>
                      <br />


                       <h4>Get Notifications From Andrew:</h4>
                       <app-email-notifications></app-email-notifications>                                      
                    
                    
                    </div>
                    
                </div>
                
                
            </mat-tab>

            <mat-tab label="Jake Ross"> 
             
                <div class="single-profile-container">
                    <div class="profile-pic"><img class="profile-img" src="/assets/jake-ross.jpg"/></div>
                 
                    <div class="artist-info">
                        <h4>Artist:</h4> 
                        <h5>Jake Ross</h5>
                        <br />

                        <h4>Availablity Status:</h4>
                        <h5 class="availability closed">Books Unavailable</h5>
                      <br />

                       <h4>Dates Available:</h4>
                        <h5>October 2020</h5>
                        <br />
                        <h4>Profile Link:</h4>
                        <a href="https://jakerosstattoos.com"><h5>Book Online</h5></a>
                      <br />


                       <h4>Get Notifications From Jake:</h4>
                       <app-email-notifications></app-email-notifications>                                      
                    
                    
                    </div>
                    
                </div>
                
                
            </mat-tab>


            <mat-tab label="Zak Perry"> 
             
                <div class="single-profile-container">
                    <div class="profile-pic"><img class="profile-img" src="/assets/zak.jpg"/></div>
                 
                    <div class="artist-info">
                        <h4>Artist:</h4> 
                        <h5>Zak Perry</h5>
                        <br />

                        <h4>Availablity Status:</h4>
                        <h5 class="availability closed">Books Closed</h5>
                      <br />

                       <h4>Dates Available:</h4>
                        <h5>January 2021</h5>
                        <br />
                        <h4>Profile Link:</h4>
                        <a href="https://7inkstattooco.com/zak-perry"><h5>Book Online</h5></a>
                      <br />


                       <h4>Get Notifications From Zak:</h4>
                       <app-email-notifications></app-email-notifications>                                      
                    
                    
                    </div>
                    
                </div>
                
                
            </mat-tab>


            <mat-tab label="Maddie Sutton"> 
             
                <div class="single-profile-container">
                    <div class="profile-pic"><img class="profile-img" src="/assets/VHqqVJpg-1024x682.jpg"/></div>
                 
                    <div class="artist-info">
                        <h4>Artist:</h4> 
                        <h5>Maddie Sutton</h5>
                        <br />

                        <h4>Availablity Status:</h4>
                        <h5 class="availability closed">Books Closed</h5>
                      <br />

                       <h4>Dates Available:</h4>
                        <h5>October 2020</h5>
                        <br />
                        <h4>Profile Link:</h4>
                        <a href="https://7inkstattooco.com/maddie-sutton"><h5>Book Online</h5></a>
                      <br />


                       <h4>Get Notifications From Maddie:</h4>
                       <app-email-notifications></app-email-notifications>                                      
                    
                    
                    </div>
                    
                </div>
                
                
            </mat-tab>


        </mat-tab-group>
    </div>



</div>