.btn-back{
    color:#ffffff;
    background-color:#AC832C;
    border: 1px solid #AC832C;
    margin:5px;
    font-size:20px;
    padding:10px;
}

.btn-back a:hover {
    color:#fff;
}

.btn{
    background-color:#AC832C;
    color:#fff;
}

button.btn{
    background-color:#AC832C;
    color:#fff;
}

h2{
    font-size:35px;
}

h5{
    font-size:20px;
}

.emailBox{ 
    .mat-dialog-container{
    background:#000 !important;
}
}
