<div class="container comp-container">
    <h2>Available Artists</h2>


    <div class="row-container">
    <div class="row" id="available">
        <div class="col"><h5>Profile Photo</h5></div>
        <div class="col"><h5>Artist</h5></div>
        <div class="col"><h5>Status</h5></div>
        <div class="col"><h5>Booking To</h5></div>
        <div class="col"><h5>Profile</h5></div>
        <div class="col"><h5>Get Notifications</h5></div>
      </div>

      <div class="row" id="available">
        <div class="col"><img class="profile-img" src="/assets/mike-hero-img-1024x730.png"/></div>
        <div class="col"><h5>Mike Dowdell</h5></div>
        <div class="col"><li></li></div>
        <div class="col"><h5>August</h5></div>
        <div class="col"><a href="https://7inkstattooco.com/mike-dowdell"><h5>Profile</h5></a></div>
        <div class="col"><div class="btn">Get Notifications</div>
      </div>
    </div>

      <div class="row" id="available">
        <div class="col"><img class="profile-img" src="/assets/MadGJv4g-682x1024.jpg"/></div>
        <div class="col"><h5>Jenn Santoro</h5></div>
        <div class="col"><li></li></div>
        <div class="col"><h5>August</h5></div>
        <div class="col"><a href="https://7inkstattooco.com/jenn-santoro"><h5>Profile</h5></a></div>
        <div class="col"><div class="btn">Get Notifications</div>
      </div>
    </div>


      <div class="row" id="available">
        <div class="col"><img class="profile-img" src="/assets/VHqqVJpg-1024x682.jpg"/></div>
        <div class="col"><h5>Madeline Sutton</h5></div>
        <div class="col"><li></li></div>
        <div class="col"><h5>September</h5></div>
        <div class="col"><a href="https://7inkstattooco.com/maddie-sutton"><h5>Profile</h5></a></div>
        <div class="col"><div class="btn">Get Notifications</div></div>
      </div>
    </div>


    
    <h2>Moderate Available Artists</h2>
  
  
    <div class="row-container">
    <div class="row" id="moderate">
        <div class="col"><h5>Profile Photo</h5></div>
        <div class="col"><h5>Artist</h5></div>
        <div class="col"><h5>Status</h5></div>
        <div class="col"><h5>Booking To</h5></div>
        <div class="col"><h5>Profile</h5></div>
        <div class="col"><h5>Get Notifications</h5></div>
      </div>

      <div class="row" id="moderate">
        <div class="col"><img class="profile-img" src="/assets/mike-hero-img-1024x730.png"/></div>
        <div class="col"><h5>Mike Dowdell</h5></div>
        <div class="col"><li></li></div>
        <div class="col"><h5>August</h5></div>
        <div class="col"><a href="https://7inkstattooco.com/mike-dowdell"><h5>Profile</h5></a></div>
        <div class="col"><div class="btn">Get Notifications</div>
      </div>
    </div>

      <div class="row" id="moderate">
        <div class="col"><img class="profile-img" src="/assets/MadGJv4g-682x1024.jpg"/></div>
        <div class="col"><h5>Jenn Santoro</h5></div>
        <div class="col"><li></li></div>
        <div class="col"><h5>Portfolio</h5></div>
        <div class="col"><a href="https://7inkstattooco.com/jenn-santoro"><h5>Profile</h5></a></div>
        <div class="col"><div class="btn">Get Notifications</div>
      </div>
    </div>


      <div class="row" id="moderate">
        <div class="col"><img class="profile-img" src="/assets/VHqqVJpg-1024x682.jpg"/></div>
        <div class="col"><h5>Madeline Sutton</h5></div>
        <div class="col"><li></li></div>
        <div class="col"><h5>September</h5></div>
        <div class="col"><a href="https://7inkstattooco.com/maddie-sutton"><h5>Profile</h5></a></div>
        <div class="col"><div class="btn">Get Notifications</div></div>
      </div>
    </div>
    
    <h2>Books Closed</h2>
  
  
    <div class="row-container">
    <div class="row" id="closed">
        <div class="col"><h5>Profile Photo</h5></div>
        <div class="col"><h5>Artist</h5></div>
        <div class="col"><h5>Status</h5></div>
        <div class="col"><h5>Booking To</h5></div>
        <div class="col"><h5>Profile</h5></div>
        <div class="col"><h5>Get Notifications</h5></div>
      </div>

    <div class="row" id="closed">
      <div class="col"><img class="profile-img" src="/assets/VHqqVJpg-1024x682.jpg"/></div>
      <div class="col"><h5>Madeline Sutton</h5></div>
      <div class="col"><li></li></div>
      <div class="col"><h5>September</h5></div>
      <div class="col"><a href="https://7inkstattooco.com/maddie-sutton"><h5>Profile</h5></a></div>
      <div class="col"><div class="btn">Get Notifications</div></div>
    </div>
  </div>


  <button class="btn-back"><a routerLink="main" routerLinkActive="active">Main</a></button>
  <button class="btn-back"><a routerLink="single-view" routerLinkActive="active">View By Artist</a></button>