.profile-img{
    width:80%;
    border-radius:30px;
}

.row{
    padding: 20px 20px 30px 20px;
    border:1px solid #fff;
    margin-bottom:20px;
}

.col{
    padding:10px;
}

div.container.app-root-cotainer{
    display:none !important;
}

.row-one{
    display:none;
}

#available li{
    color:green;
    font-size:40px;
}

#moderate li{
    color:orange;
    font-size:40px;
}

#closed li{
    color:red;
    font-size:40px;
}

.btn-back{
    color:#ffffff;
    background-color:#AC832C;
    border: 1px solid #AC832C;
    margin:5px;
    font-size:20px;
    padding:10px;
}

.btn-back a:hover {
    color:#fff;
}

.btn{
    background-color:#AC832C;
    color:#fff;
}

h2{
    font-size:35px;
}

h5{
    font-size:20px;
}

