<div class="container comp-container">
    <h2>Available Artists</h2>


    <div class="row-container">
    <div class="row" id="available">
        <div class="col"><h5>Profile Photo</h5></div>
        <div class="col"><h5>Artist</h5></div>
        <div class="col"><h5>Status</h5></div>
        <div class="col"><h5>Booking To</h5></div>
        <div class="col"><h5>Profile</h5></div>
        <div class="col"><h5>Get Notifications</h5></div>
      </div>

      <div class="row" id="available">
        <div class="col"><img class="profile-img" src="/assets/mike-hero-img-1024x730.png"/></div>
        <div class="col"><h5>Mike Dowdell</h5></div>
        <div class="col"><li></li></div>
        <div class="col"><h5>October 2020</h5></div>
        <div class="col"><a href="https://7inkstattooco.com/mike-dowdell"><h5>Profile</h5></a></div>
        <div class="col"><app-email-notifications></app-email-notifications></div>
      </div>


      <div class="row" id="available">
        <div class="col"><img class="profile-img" src="/assets/MadGJv4g-682x1024.jpg"/></div>
        <div class="col"><h5>Jenn Santoro</h5></div>
        <div class="col"><li></li></div>
        <div class="col"><h5>October 2020</h5></div>
        <div class="col"><a href="https://7inkstattooco.com/jenn-santoro"><h5>Profile</h5></a></div>
        <div class="col"><app-email-notifications></app-email-notifications></div>
      </div>
   


      <div class="row" id="available">
        <div class="col"><img class="profile-img" src="/assets/victoria-1024x911.jpg"/></div>
        <div class="col"><h5>Victoria Kravec</h5></div>
        <div class="col"><li></li></div>
        <div class="col"><h5>October 2020</h5></div>
        <div class="col"><a href="https://7inkstattooco.com/victoria-kravec"><h5>Profile</h5></a></div>
        <div class="col"><app-email-notifications></app-email-notifications></div>
      </div>
  </div>
  <br />

    
    <h2>Moderate Available Artists</h2>
  
  
  <div class="row-container">
    <div class="row" id="moderate">
        <div class="col"><h5>Profile Photo</h5></div>
        <div class="col"><h5>Artist</h5></div>
        <div class="col"><h5>Status</h5></div>
        <div class="col"><h5>Booking To</h5></div>
        <div class="col"><h5>Profile</h5></div>
        <div class="col"><h5>Get Notifications</h5></div>
      </div>

      <div class="row" id="moderate">
        <div class="col"><img class="profile-img" src="/assets/joey.jpg"/></div>
        <div class="col"><h5>Joey La Puma</h5></div>
        <div class="col"><li></li></div>
        <div class="col"><h5>November 2020</h5></div>
        <div class="col"><a href="https://7inkstattooco.com/joey-la-puma"><h5>Profile</h5></a></div>
        <div class="col"><app-email-notifications></app-email-notifications></div>
      </div>
    

      <div class="row" id="moderate">
        <div class="col"><img class="profile-img" src="/assets/cj.jpg"/></div>
        <div class="col"><h5>Chris Irvin</h5></div>
        <div class="col"><li></li></div>
        <div class="col"><h5>November 2020</h5></div>
        <div class="col"><a href="https://7inkstattooco.com/chris-irvin"><h5>Profile</h5></a></div>
        <div class="col"><app-email-notifications></app-email-notifications></div>
      </div>
 
    </div>
     
  <br />

    <h2>Books Closed</h2>
  
  
    <div class="row-container">
    <div class="row" id="closed">
        <div class="col"><h5>Profile Photo</h5></div>
        <div class="col"><h5>Artist</h5></div>
        <div class="col"><h5>Status</h5></div>
        <div class="col"><h5>Booking To</h5></div>
        <div class="col"><h5>Profile</h5></div>
        <div class="col"><h5>Get Notifications</h5></div>
      </div>

      <div class="row" id="closed">
        <div class="col"><img class="profile-img" src="/assets/VHqqVJpg-1024x682.jpg"/></div>
        <div class="col"><h5>Madeline Sutton</h5></div>
        <div class="col"><li></li></div>
        <div class="col"><h5>December 2020</h5></div>
        <div class="col"><a href="https://7inkstattooco.com/maddie-sutton"><h5>Profile</h5></a></div>
        <div class="col"><app-email-notifications></app-email-notifications></div>
      </div>
  
      <div class="row" id="closed">
        <div class="col"><img class="profile-img" src="/assets/zak.jpg"/></div>
        <div class="col"><h5>Zak Perry</h5></div>
        <div class="col"><li></li></div>
        <div class="col"><h5>January 2021</h5></div>
        <div class="col"><a href="https://7inkstattooco.com/maddie-sutton"><h5>Profile</h5></a></div>
        <div class="col"><app-email-notifications></app-email-notifications></div>
      </div>  

    <div class="row" id="closed">
      <div class="col"><img class="profile-img" src="/assets/ab.jpg"/></div>
      <div class="col"><h5>Andrew Bissell</h5></div>
      <div class="col"><li></li></div>
      <div class="col"><h5>2021</h5></div>
      <div class="col"><a href="https://7inkstattooco.com/andrew-bissell"><h5>Profile</h5></a></div>
      <div class="col"><app-email-notifications></app-email-notifications></div>
    </div>

    <div class="row" id="closed">
      <div class="col"><img class="profile-img" src="/assets/jake-ross.jpg"/></div>
      <div class="col"><h5>Jake Ross</h5></div>
      <div class="col"><li></li></div>
      <div class="col"><h5>2021</h5></div>
      <div class="col"><a href="https://7inkstattooco.com/jake-ross"><h5>Profile</h5></a></div>
      <div class="col"><app-email-notifications></app-email-notifications></div>
    </div>

    



  </div>


  <button class="btn-back"><a routerLink="main" routerLinkActive="active">Main</a></button>
  <button class="btn-back"><a routerLink="single-view" routerLinkActive="active">View By Artist</a></button>